h1 {
    background-color:burlywood;
    text-align: center;
    padding: 60px 30px;
    font-family: 'Lato', sans-serif;
}
h2 {
    font-family: 'Lato', sans-serif;
}
.sect-1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
}
.art-1 {
    text-align: center;
    width: 50%;
    margin: 0px 0px;
    padding: 0px 0px;
}
.art-3 {
    text-align: center;
    width: 50%;
    color: blueviolet;
}
.div-2 p {
    font-size: 20px;
}
img {
    width: 150px;
    height: 113px;
}
img:hover {
    width: 666px;
    height: 500px;
}